@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1{
    color: darkorange;
} */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
.Font-Exo {
font-family: 'Exo 2', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
.Font-Sans {
    font-family: 'Noto Sans TC', sans-serif;
}

@font-face {
    font-family: 'tetai-2';
    src: url('./assets/font/tetai-2.ttf');
}

.tetai-2 {
    font-family: 'tetai-2', sans-serif;
}